:root {
    --mian-font: 'Amatic SC', sans-ser;
    --secend-font: 'Open Sans', sans-ser;
    --main-font-color: #37373f;
}
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.nav {
    background-color: rgb(255, 255, 255,0);
    padding: 20px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: var(--secend-font);
    font-weight: bold;
    z-index: 999;
    text-transform: uppercase;
}

.nav .name h1 {
    font-size: 30px;
}

.nav .name a {
    color: rgb(255, 255, 255);
}

.nav .nav-items {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.nav .nav-items .nav-item {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.nav .nav-items .nav-item-cover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(101%);
    transition: transform 0.5s ease;
    border-bottom: 3px #ffffff solid;
}

.nav .nav-items ul li a {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.5s;

}

.nav .nav-items ul .nav-item:hover .nav-item-cover,
.nav .nav-items ul .nav-item li a:hover {
    transform: translateX(0%);
    color: #ffffff;
    cursor: pointer;
}

.nav .nav-items ul {
    list-style: none;
}

.nav .nav-items ul li {
    padding: 5px 0;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url(../img/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    color: #fff;
}

@media (min-width:825px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px;
    }

    .nav .nav-items ul {
        display: flex;
        column-gap: 40px;
    }
    .header h1{
        font-size: 4.5rem;
    }
}